@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;

    padding: 0;
    margin: 0;
}

.header {
    margin: 0;
    padding: 15px 30px;
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.41);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: center;
}

.header-top-left {
    gap: 15px;
}

.header-top-right {
    gap: 20px;
}

.header-top-left > img,
.header-top-right > img {
    width: 25px;
}

.header-top-left {
    flex: 2;
}

.header-top-left > input {
    width: 100%;
    background-color: #e2e8f0;
    border: none;
    padding: 8px;
    border-radius: 15px;
    font-size: 16px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0f2fe;
}

.user-name {
    font-size: 18px;
    font-weight: 600;
}

.header-bottom {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-avatar.big {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
}

.header-bottom-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}

.header-bottom-text > span:first-child {
    font-size: 14px;
}

.header-bottom-text > span:last-child {
    font-size: 20px;
}

.header-bottom-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-bottom-right > button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-size: 18px;
    cursor: pointer;
}